# Exercício 04
Filtros String

In [1]:
import numpy as np
import pandas as pd

In [2]:
#How to calculate the number of characters in each word in a series
serie = pd.Series(['guilherme','york','programador','new','monteiro',
                   'peixoto','oliveira','test','trabalho','city','ciencia',
                   'truck','informação','plan','python','car'])

In [3]:
serie

0       guilherme
1            york
2     programador
3             new
4        monteiro
5         peixoto
6        oliveira
7            test
8        trabalho
9            city
10        ciencia
11          truck
12     informação
13           plan
14         python
15            car
dtype: object

In [5]:
tamanho_palavras = serie.map(lambda x: len(x))
tamanho_palavras

0      9
1      4
2     11
3      3
4      8
5      7
6      8
7      4
8      8
9      4
10     7
11     5
12    10
13     4
14     6
15     3
dtype: int64

In [7]:
df = pd.concat([serie, tamanho_palavras], axis=1)
df.columns = ['palavras', 'tamanho']
df

       palavras  tamanho
0     guilherme        9
1          york        4
2   programador       11
3           new        3
4      monteiro        8
5       peixoto        7
6      oliveira        8
7          test        4
8      trabalho        8
9          city        4
10      ciencia        7
11        truck        5
12   informação       10
13         plan        4
14       python        6
15          car        3

In [13]:
#How to convert the first character of each element in a series to uppercase
df['palavras'] = df['palavras'].map(lambda x: x.title())

In [14]:
#How to filter words that contain atleast 2 vowels from a series
from collections import Counter

mask = df['palavras'].map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
df['palavras'][mask]

0       Guilherme
2     Programador
4        Monteiro
5         Peixoto
6        Oliveira
8        Trabalho
10        Ciencia
12     Informação
Name: palavras, dtype: object