# Aula 0

Criar dataframe a partir de Array e Lista

In [1]:
import pandas as pd
import numpy as np

In [3]:
#Criando dataframe a partir de array
array = [['Julia','Anne','Carol','Felipe'],['f','f','f','m'],[10., 9., np.nan, 9.5],
         [3, 4, 5, np.nan],[np.nan, 4, 8, 9]]
data_array = pd.DataFrame(array, index = ['nome','genero','nota 1','nota 2','nota 3'],
                          columns = ['29384','34211','34172','06874'])
data_array_T = data_array.T
data_array_T

         nome genero nota 1 nota 2 nota 3
29384   Julia      f     10      3    NaN
34211    Anne      f      9      4      4
34172   Carol      f    NaN      5      8
06874  Felipe      m    9.5    NaN      9

In [4]:
#Criando dataframe a partir de lista
lista = {'nome':['Julia','Anne','Carol','Felipe'],
         'genero':['f','f','f','m'],
         'Nota 1':[np.nan, 4, 8, 9],
         'Nota 2':[6, 9, np.nan, 7],
         'Nota 3':[5, 7, 7, np.nan]}
data_list = pd.DataFrame(lista, index = ['29384','34211','34172','06874'])
data_list

         nome genero  Nota 1  Nota 2  Nota 3
29384   Julia      f     NaN     6.0     5.0
34211    Anne      f     4.0     9.0     7.0
34172   Carol      f     8.0     NaN     7.0
06874  Felipe      m     9.0     7.0     NaN