In [1]:
import numpy as np
import pandas as pd
from random import randrange, uniform
import random

In [2]:
GeneroList = ['Masculino','Feminino']

In [3]:
df = pd.DataFrame()
COLUNAS = [
    'Genero',
    'Altura',
    'Idade',
    'Peso'
]
df = pd.DataFrame(columns=COLUNAS)

In [4]:
df

Empty DataFrame
Columns: [Genero, Altura, Idade, Peso]
Index: []

In [5]:
for x in range(100):
    genero = random.choice(GeneroList)
    altura = uniform(1.50,2.0)
    idade = randrange(15,60)
    peso = uniform(40.0,100.0)
    
    df.loc[-1] = [genero, altura, idade, peso]
    df.index = df.index + 1 
    df = df.sort_index()

In [6]:
df['Idade'] = df['Idade'].astype(int)
df

       Genero    Altura  Idade       Peso
0   Masculino  1.725868     29  59.064639
1   Masculino  1.844920     32  61.136242
2   Masculino  1.825032     21  87.748503
3    Feminino  1.573171     47  56.327683
4   Masculino  1.580309     57  84.894056
..        ...       ...    ...        ...
95  Masculino  1.863496     36  99.397520
96  Masculino  1.614977     50  83.016536
97   Feminino  1.509546     47  95.009545
98  Masculino  1.822527     52  61.206897
99  Masculino  1.706044     39  94.497657

[100 rows x 4 columns]

In [7]:
df.to_csv('cadastro.csv')